{% extends 'base.html' %}




{% block content %}

<br>
          {{ info.loc_name }}

<!--DATEPICKER-->

<div class="container">
	<li class="list-group-item list-group-item-secondary"><h2>Appointments Made:</h2></li>
		<br><br>

			{% if all_appointments %}
				{% for info in all_appointments %}
					<div class="col-sm">
						<ul class="list-group">
							<li class="list-group-item list-group-item-secondary"><strong>Appointment: {{ forloop.counter}}</strong></li>
							<li class="list-group-item">{{ info.name }}</li>
							<li class="list-group-item">{{ info.email }}</li>
							<li class="list-group-item">{{ info.phone }}</li>
							<li class="list-group-item">{{ info.occupation }}</li>
							<li class="list-group-item">{{ info.category }}</li>
							<li class="list-group-item">{{ info.date }}</li>
							<li class="list-group-item">{{ info.start}}</li>
							<li class="list-group-item">{{ info.end }}</li>
							<br>



							<div class="container">
								<h4><span class="badge badge-dark">Location:</span></h4>
								<li class="list-group-item color hide">{{ info.location }}</li>




								<style type="text/css">
									.goldy {
										background-color: #FFD700;
									}
									.prince {
										background-color: #DDA0DD;
									}
								</style>

								<script type="text/javascript">
									var colorElements = document.querySelectorAll('.color');
									colorElements.forEach(element => {
										if (element.innerHTML == "OnSite") {
											element.classList.add('goldy');
										} else if (element.innerHTML == "InStudio") {
											element.classList.add('prince');
										}
									});
								</script>


								<div id="locablock">
									<li class="list-group-item go">{{ info.loc_name }}</li>
									<li class="list-group-item go">{{ info.address }}</li>
									<li class="list-group-item go">{{ info.city }}</li>
									<li class="list-group-item go">{{ info.state }}</li>
									<li class="list-group-item go">{{ info.zipcode }}</li>
								</div>
							</div>
							<br>


							<style type="text/css">
								.hidden {
									display: none;
								}
							</style>

							<script type="text/javascript">
								var allElements = document.querySelectorAll('.go');
								allElements.forEach(element => {
									if (element.innerHTML == "None") {
										element.classList.add('hidden');
									};
								});
							</script>


						</ul>
					</div>
				{% endfor %}
			{% endif %}


</div>

{% endblock %}