{% extends 'base.html' %}

{% block content %}



<!DOCTYPE html>
<html>
<head>
    <title>Google Map</title>


    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }
        #map {
            height: 500px;
            width: 100%;
            bottom: 0;
        }
    </style>
</head>
<body>

    <div id="map"></div>


    <script type="text/javascript">
        function initMap() {
            var location = {lat:42.63824, lng:-83.291046};
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 12,
                center: location
            });
            var marker = new google.maps.Marker({
                position: location,
                map: map
            })
        }
        
    </script>

    <script async defer src="https://google.com/maps/dir/api/js?key=AIzaSyBJf2nVVOqOW_wegTIN8VHqEsDZi9xZ5zw&callback=initMap"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJf2nVVOqOW_wegTIN8VHqEsDZi9xZ5zw&callback=initMap"></script>


{% endblock %}

